In [1]:
import pandas as pd

In [2]:
premier_league = pd.read_excel('../project_data/premier_league_games_full.xlsx')

In [3]:
premier_league.head()

,id,league_name,season,HomeTeam,AwayTeam,HomeGoals,AwayGoals
0,1729,England Premier League,2008/2009,Manchester United,Newcastle United,1,1
1,1730,England Premier League,2008/2009,Arsenal,West Bromwich Albion,1,0
2,1731,England Premier League,2008/2009,Sunderland,Liverpool,0,1
3,1732,England Premier League,2008/2009,West Ham United,Wigan Athletic,2,1
4,1733,England Premier League,2008/2009,Aston Villa,Manchester City,4,2

In [4]:
agg_prem_league = premier_league.groupby(["season", "HomeTeam"])[["HomeGoals"]].sum()

In [5]:
agg_prem_league.head()

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21
          Chelsea                  33

In [6]:
agg_prem_league.loc["2008/2009"]

                      HomeGoals
HomeTeam
Arsenal                      31
Aston Villa                  27
Blackburn Rovers             22
Bolton Wanderers             21
Chelsea                      33
Everton                      31
Fulham                       28
Hull City                    18
Liverpool                    41
Manchester City              40
Manchester United            43
Middlesbrough                17
Newcastle United             24
Portsmouth                   26
Stoke City                   22
Sunderland                   21
Tottenham Hotspur            21
West Bromwich Albion         26
West Ham United              23
Wigan Athletic               17

In [7]:
agg_prem_league.loc["2008/2009": "2010/2011"]

                                   HomeGoals
season    HomeTeam
2008/2009 Arsenal                         31
          Aston Villa                     27
          Blackburn Rovers                22
          Bolton Wanderers                21
          Chelsea                         33
          Everton                         31
          Fulham                          28
          Hull City                       18
          Liverpool                       41
          Manchester City                 40
          Manchester United               43
          Middlesbrough                   17
          Newcastle United                24
          Portsmouth                      26
          Stoke City                      22
          Sunderland                      21
          Tottenham Hotspur               21
          West Bromwich Albion            26
          West Ham United                 23
          Wigan Athletic                  17
2009/2010 Arsenal                         48
          Aston Villa                     29
          Birmingham City                 19
          Blackburn Rovers                28
          Bolton Wanderers                26
          Burnley                         25
          Chelsea                         68
          Everton                         35
          Fulham                          27
          Hull City                       22
          Liverpool                       43
          Manchester City                 41
          Manchester United               52
          Portsmouth                      24
          Stoke City                      24
          Sunderland                      32
          Tottenham Hotspur               40
          West Ham United                 30
          Wigan Athletic                  19
          Wolverhampton Wanderers         13
2010/2011 Arsenal                         33
          Aston Villa                     26
          Birmingham City                 19
          Blackburn Rovers                22
          Blackpool                       30
          Bolton Wanderers                34
          Chelsea                         39
          Everton                         31
          Fulham                          30
          Liverpool                       37
          Manchester City                 34
          Manchester United               49
          Newcastle United                41
          Stoke City                      31
          Sunderland                      25
          Tottenham Hotspur               30
          West Bromwich Albion            30
          West Ham United                 24
          Wigan Athletic                  22
          Wolverhampton Wanderers         30

In [8]:
agg_prem_league.loc[("2008/2009", "Arsenal")]

HomeGoals    31
Name: (2008/2009, Arsenal), dtype: int64

In [9]:
agg_prem_league.loc[("2008/2009", "Arsenal"):("2008/2009", "Bolton Wanderers")]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [10]:
agg_prem_league.iloc[1]

HomeGoals    27
Name: (2008/2009, Aston Villa), dtype: int64

In [11]:
agg_prem_league.iloc[:4]

                            HomeGoals
season    HomeTeam
2008/2009 Arsenal                  31
          Aston Villa              27
          Blackburn Rovers         22
          Bolton Wanderers         21

In [12]:
agg_prem_league.iloc[-1]

HomeGoals    34
Name: (2015/2016, West Ham United), dtype: int64

In [13]:
agg_prem_league = premier_league.groupby(["season", "HomeTeam"]).agg({"HomeGoals": ['sum', 'mean']})

agg_prem_league.head()

                           HomeGoals
                                 sum      mean
season    HomeTeam
2008/2009 Arsenal                 31  1.631579
          Aston Villa             27  1.421053
          Blackburn Rovers        22  1.157895
          Bolton Wanderers        21  1.105263
          Chelsea                 33  1.736842

In [14]:
agg_prem_league.iloc[1, 1]

1.4210526315789473

In [15]:
agg_prem_league.iloc[1, :]

HomeGoals  sum     27.000000
           mean     1.421053
Name: (2008/2009, Aston Villa), dtype: float64

In [16]:
agg_prem_league.loc["2010/2011", ('HomeGoals', )]

                         sum      mean
HomeTeam
Arsenal                   33  1.736842
Aston Villa               26  1.368421
Birmingham City           19  1.000000
Blackburn Rovers          22  1.157895
Blackpool                 30  1.578947
Bolton Wanderers          34  1.789474
Chelsea                   39  2.052632
Everton                   31  1.631579
Fulham                    30  1.578947
Liverpool                 37  1.947368
Manchester City           34  1.789474
Manchester United         49  2.578947
Newcastle United          41  2.157895
Stoke City                31  1.631579
Sunderland                25  1.315789
Tottenham Hotspur         30  1.578947
West Bromwich Albion      30  1.578947
West Ham United           24  1.263158
Wigan Athletic            22  1.157895
Wolverhampton Wanderers   30  1.578947

In [17]:
agg_prem_league.loc["2010/2011", ('HomeGoals', "mean")]

HomeTeam
Arsenal                    1.736842
Aston Villa                1.368421
Birmingham City            1.000000
Blackburn Rovers           1.157895
Blackpool                  1.578947
Bolton Wanderers           1.789474
Chelsea                    2.052632
Everton                    1.631579
Fulham                     1.578947
Liverpool                  1.947368
Manchester City            1.789474
Manchester United          2.578947
Newcastle United           2.157895
Stoke City                 1.631579
Sunderland                 1.315789
Tottenham Hotspur          1.578947
West Bromwich Albion       1.578947
West Ham United            1.263158
Wigan Athletic             1.157895
Wolverhampton Wanderers    1.578947
Name: (HomeGoals, mean), dtype: float64